@import url("https://dina.ec/static/dina.css.gz");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 100vh;
  background-color: #37474f;
}

#local-video {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 150px;
  height: 200px;
  border-radius: 20px;
}

#remote-video {
  top: 0;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#picker {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #37474f;
}

#connected-heroes {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .item-hero {
    margin-top: 20px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      &:focus {
        outline: none;
      }
      cursor: pointer;
      margin-left: 20px;
      background-color: #0099cc;
      color: #fff;
      border: none;

      font-size: 20px;
      border-radius: 50%;
    }
  }
}

.bg {
  &:focus {
    outline: none;
  }
  background-color: #37474f;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.bg-green {
  background-color: rgb(8, 199, 24);
  color: #fff;
}

.bg-red {
  background-color: rgb(233, 10, 95);
  color: #fff;
}
